
.cabecera {
  background-image: url("/assets/img/cabecera2.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 7%;
  color: #f7cac9;
  font-family: sacramento;
  font-size: 4rem;
  text-align: center;
  margin-top: 40px; 
}
.navbar {
  background-color:#f7cac9;
  width: 100%;
  height: 7%;
}
.example-spacer {
  flex: 1 1 auto;
  
}

.titulo{
  color: #fff;
  font-family: sacramento;
  font-size: 2rem;
  margin-left: 30px;
  font-weight: 500;
}