.opacidad {
  background-color: rgba(50, 50, 50, 0.3);
  width: 100%;
  height: 100%;
}


.body img {
  width: 5%;
  margin: 10px;

}
.centrar {
  text-align: center;
  
  background-repeat: no-repeat;
  
}
.ancho {
  width: 30%;
  text-align: center;
  
}

.boton {
  height: 50px;
}

